.CTASide {
    width: 100%;
    padding: 40px var(--container-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.CTASideContainer {
    width: 100%;
    gap: 28px;
    background-color: var(--main-color-light);
    border-radius: 4px;
}

.normalFacing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.reverseFacing {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.CTASideContainerMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 80px 60px;
    gap: 28px;
}

.CTAContainerText {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.CTAContainerTextTitle {
    color: var(--main-color);
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: 105%;
    letter-spacing: -1.35px;
}

.CTAContainerTextDescription {
    color: var(--main-color-hover);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: -0.48px;
}

@media screen and  (max-width: 768px) {
    .CTASide {
        padding: 24px var(--container-padding);
    }

    .CTASideContainer {
        padding: 24px 24px;
        gap: 16px;
    }

    .normalFacing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .reverseFacing {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .CTASideContainerMain {
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 24px 32px;
        gap: 16px;
    }

    .CTAContainerTextTitle {
        font-size: 1.125rem;
        letter-spacing: -0.36px;
        text-align: center;
    }
    
    .CTAContainerTextDescription {
        font-size: 0.875rem;
        letter-spacing: -0.36px;
        text-align: center;
    }
}