.cardGrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 24px;
    padding: 40px var(--container-padding);
}

/* @container (max-width: 768px) {
} */