.containerWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.containerText {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.containerTitle {
    font-size: 1.5rem;
    color: var(--color-text-secondary);
    font-weight: 500;
}

.containerButton {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 0.875rem;
    color: var(--main-color);
    outline: none;
}

@media (max-width: 576px) {
    .containerText {
        gap: 4px;
    }

    .containerTitle {
        font-size: 20px;
    }

    .containerDescription {
        font-size: 15px;
    }
}