.containerWrapper {
    padding: 0 var(--container-padding);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    width: 100%;
}

.containerText {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.containerTitle {
    font-size: 1.125rem;
    color: var(--color-text-secondary);
    font-weight: 500;
}

.containerDescription {
    font-size: 0.875rem;
}

.containerButton {
    display: flex;
    align-items: center;
    text-decoration: underline;
    font-size: 0.875rem;
    color: var(--main-color);
    outline: none;
}