.profileMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.profileMainPicture {
    width: 200px;
    height: 200px;
    border-radius: 1000px;
    overflow: hidden;
}

.profileMainPicture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileMainText {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.profileFullname {
    color: var(--color-text-secondary);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 135%;
    letter-spacing: -0.6px;
    text-align: center;
}

.profileBio {
    color: var(--color-text-main);
    font-size: 1.125rem;
    text-align: center;
}

.profileStat,
.profileSec {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.profileSecInfo {
    display: flex;
    flex-direction: row;
    gap: 1.5px;
    align-items: center;
}

.profileStat {
    max-width: 340px;
}

.profileSec {
    gap: 12px 24px;
    flex-wrap: wrap;
}

.profileSecIcon {
    display: flex;
}

.profileSecInfo {
    display: flex;
    align-items: center;
    margin: 0;
    gap: 2px;
}

.profileStatMini {
    display: flex;
    gap: 4px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.profileStatNum {
    color: var(--color-text-secondary);
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 135%;
    letter-spacing: -0.6px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .profileHeader {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 30px var(--container-padding);
    }

    .profileHeaderDetails {
        flex-direction: column;
        gap: 8px;
    }

    .profileHeaderDetailsPP {
      width: 60px;
      height: 60px;
    }

    .profileHeaderDetailsText {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
    }

    .profileHeaderDetailsText > h4 {
        font-size: 1.125rem;
        line-height: 135%;
    }

    .profileHeaderDetailsText > p {
      font-size: 0.875rem;
      justify-content: center;
    }
}