.relatedSearchesContainer {
    width: 30%;
    margin-bottom: 1rem;
}

.title {
    font-weight: 500;
    font-size: 22px;
    color: var(--color-text-secondary);
    margin-bottom: 1.5rem;
}

.relatedSearchesCards {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

@media (max-width: 767px) {
    .relatedSearchesContainer {
        width: 100%;
    }

    .title {
        font-size: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .relatedSearchesContainer {
        width: 40%;
    }
}