.container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 100%;
}
.tabs {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  width: 100%;
  padding: 0.6rem;
  background-color: hsla(0, 0%, 99%, 1);
  overflow: hidden;
}
.tabButton {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  color: #746c6c;
  background: none;
  border: none;
  cursor: pointer;
  padding-bottom: 8px;
  transition: color 0.3s ease-in-out;
  font-family: "GT Walsheim Pro", sans-serif;
}
.tabButton.active {
  color: var(--main-color-hover);
}
.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--main-color-hover);
  transform: translateY(2px);
}

