.cardWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  margin-top: 2rem;
}
.cardDate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardDate > h5 {
  font-size: 14px;
  font-weight: 400;
}
.cardDate > button {
  background: transparent;
  border: 2px solid var(--color-white-two);
  padding: 2px 3px 0px 3px;
  font-size: 1rem;
  border-radius: 6px;
  color: var(--color-text-main);
}
.cardLocation {
  display: flex;
  margin-top: 0.5rem;
  font-size: 14px;
  font-weight: 400;
  gap: 0.5rem;
}
.locationIcon {
  margin-top: 2px;
}
.cardTitle {
  color: var(--color-text-input);
  font-size: 1.4rem;
  margin-top: 0.7rem;
}
.cardContainer {
  border: 1px solid hsla(0, 0%, 97%, 1);
  padding: 1rem;
}
.cardDescription {
  font-size: 14px;
  font-weight: 400;
  line-height: 18.9px;
  width: 14.5rem;
  margin-top: 0.5rem;
}
.cardTag {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.tag {
  display: inline-block;
  padding: 0.3em 0.6em;
  font-size: 14px;
  font-weight: 400;
  color: hsla(28, 100%, 23%, 1);
}
.tagPublic {
  background-color: hsla(28, 100%, 97%, 1);
  color: var(--main-color-card-danger);
}
.tagPrivate {
  background-color: hsla(216, 100%, 97%, 1);
  color: var(--main-color-card-calm);
}
.cardButton > button {
  font-size: 15px;
  font-weight: 500;
  padding: 0.3rem 1rem;
  margin-top: 1.5rem;
}
.membersAvatars {
  display: flex;
  gap: 0.2rem;
}

.avatar {
  margin-left: -0.6rem;
}

.avatarCount {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
}
@media screen and (max-width: 900px) {
  .cardWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .cardContainer {
    width: 20rem;
  }
}
@media screen and (max-width: 768px) {
  .cardWrapper {
    display: block;
  }
  .cardContainer {
    width: 100%;
    margin-top: 1rem;
  }
  .cardDescription {
    width: 100%;
  }
}
