.editHeaderContainer {
    display: flex;
    justify-content: space-between;
}
.editProfile > h4 {
    font-size: 24px;
    color: hsla(0, 4%, 22%, 1);
}
.editProfile > p {
    font-size: 16px;
    color: var(--color-gray-two);
}
.formContainer {
    width: 60%;
}


