.formContainer {
    width: 100%;
    padding: 32px;
    padding-bottom: 200px;
}

.formContainerInner {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.errorMessage {
    margin-top: -15px;
    color: var(--main-color-card-danger);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
}

@media screen and (max-width: 768px) {
    .formContainer {
        padding: 24px;
        padding-bottom: 150px;
    }
}