.hostProfileDetails {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.hostProfile {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.hostAvatar {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    overflow: hidden;
}

.hostAvatar img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hostDetailsText {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.hostProfileName {
    font-size: 1rem;
    color: var(--color-text-secondary);
}

.hostProfileGmail {
    font-size: 0.875rem;
}

@media screen and (max-width: 768px) {
    .hangoutInformationWrapper {
        width: 100%;
    }

    .hostProfileDetails {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 16px;
    }
    
    .hostProfile {
        gap: 12px;
    }
}