.profileHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.profileHeaderTitle {
    color: var(--color-text-secondary);
    font-size: 2rem;
    font-weight: 500;
    line-height: 135%;
    letter-spacing: -0.6px;
}

@media screen and (max-width: 768px) {
    .profileHeader {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .profileHeaderTitle {
        font-size: 1.25rem;
        line-height: 135%;
    }
}