.loginContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.description {
    font-size: 18px;
    font-weight: 400;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    gap: 16px;
}