.profileContainer {
  padding: 72px 0 50px;
  width: 100%;
}

.profileDetailsContainer {
  display: flex;
  flex-direction: row;
  padding: 0 var(--container-padding);
  gap: 0;
}

.profileTabs {
  flex-grow: 1;
}

@media screen and (max-width: 768px) {
  .profileContainer {
    padding: 60px 0 50px;
  }

  .profileDetailsContainer {
    flex-direction: column;
    padding: 0;
    gap: 32px;
  }

  .profileTabs {
    width: 100%;
  }
}
