.NavContainer {
    width: 100%;
    max-width: var(--max-page-width);
    padding: 0;
}

.banner {
    background-image: url('../../../../../public/helpDeskBanner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem 5rem;
    width: 100%;
}

.breadcrumb {
    color: var(--color-white);
}

.navTitle {
    color: var(--color-white);
    font-size: 3.5rem;
    font-weight: 800;
    font-style: italic;
    margin-top: 2rem;
}

.navDescription {
    color: var(--color-white);
    line-height: 1.75rem;
}

@media (max-width: 767px) {
    .NavContainer {
        width: 100%;
        padding: 0;
    }

    .breadcrumb {
        font-size: 0.75rem;
    }

    .banner {
        background-image: url('../../../../../public/mobileHelpDeskBanner.png');
        background-size: cover;
        padding: 1.5rem 1rem;
    }

    .navTitle {
        font-size: 2rem;
        margin-top: 1.5rem;
    }

    .navDescription {
        line-height: 1.25rem;
        font-size: 0.85rem;
    }
}
