.customTag {
    display: flex;
    height: 32px;
    padding: 7px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    cursor: pointer;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.42px;
}

.isSelected {
    border: none;
    background-color: var(--main-color-tip);
    color: var(--main-color-card);
}

.isNotSelected:hover {
    border: 1.2px solid var(--main-color-tip);
    background-color: var(--main-color-tip);
    color: var(--main-color-card);
}

.isNotSelected {
    border: 1.2px solid var(--border-color);
    background-color: transparent;
    color: var(--color-text-main);
}