.headerMain {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 10;
    height: 72px;
    padding: 0 var(--container-padding);
    background-color: var(--background-color);
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
}

.headerButtons {
    gap: 24px;
}

.headerButtonsAlt {
    gap: 24px;
}

.headerVertiLine {
    width: 1px;
    height: 16px;
    background-color: var(--border-color);
}

.headerToggleBar,
.headerToggleBarAlt {
    background-color: transparent;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.headerToggleBarAlt {
    display: flex;
}

.headerVertiLine {
    width: 1px;
    height: 16px;
    background-color: var(--border-color);
}

.flexC {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.mobileOnlyShow {
    display: none;
}

.skeleton {
    background-color: var(--border-color);
    animation: pulse 1.5s infinite;
}

.skeletonLogo {
    width: 120px;
    height: 32px;
    border-radius: 100px;
}

.skeletonMenuButton {
    width: 24px;
    height: 24px;
    border-radius: 100px;
}

.skeletonSearchButton {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.skeletonProfileSection {
    width: 80px;
    height: 32px;
    border-radius: 16px;
}

.skeletonSearchBar {
    width: 200px;
    height: 32px;
    border-radius: 16px;
}

@media screen and  (max-width: 768px) {
    .headerMain {
        height: 60px;
    }

    .headerButtons {
        gap: 16px;
    }

    .headerProfilePhotoCard {
        height: 32px;
        width: 32px;
    }

    .desktopOnlyShow {
        display: none;
    }
    
    .mobileOnlyShow {
        display: flex;
    }
}

@keyframes pulse {
    0% {
        opacity: 0.6;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.6;
    }
}