.headerMain {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 10;
    height: 72px;
    padding: 0 var(--container-padding);
    background-color: var(--background-color);
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
}

.headerButtons {
    gap: 24px;
}

.headerButtonsAlt {
    gap: 24px;
}

.headerVertiLine {
    width: 1px;
    height: 16px;
    background-color: var(--border-color);
}

.headerToggleBar,
.headerToggleBarAlt {
    background-color: transparent;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.headerToggleBarAlt {
    display: flex;
}

.headerProfilePhotoCard {
    padding: 5px;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.headerProfilePhotoImg {
    height: 36px;
    width: 36px;
    border-radius: 100px;
    overflow: hidden;
}

.headerProfilePhotoCard img {
    width: 100%;
    object-fit: cover;
}

.headerVertiLine {
    width: 1px;
    height: 16px;
    background-color: var(--border-color);
}

.flexC {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.mobileOnlyShow {
    display: none;
}

@media screen and  (max-width: 768px) {
    .headerMain {
        height: 60px;
    }

    .headerButtons {
        gap: 16px;
    }

    .headerProfilePhotoCard {
        height: 32px;
        padding: 0px;
    }

    .headerProfilePhotoImg {
        height: 32px;
        width: 32px;
    }

    .desktopOnlyShow {
        display: none;
    }
    
    .mobileOnlyShow {
        display: flex;
    }
}