.homepageProfileHero {
    width: 100%;
    padding: 112px var(--container-padding) 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.homepageProfileHeroCont {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.homepageProfileHeroName {
    font-size: 24px;
    font-weight: 500;
    line-height: 135%;
    letter-spacing: -0.48px;
    color: var(--color-text-secondary);
}

.homepageProfileHeroSpeech {
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.32px;
    color: var(--color-text-main);
}

.homepageProfileHeroInnbtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.homepageFirstCommuityCreate {
    width: 100%;
    padding: 10px var(--container-padding) 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media screen and  (max-width: 768px) {
    .homepageProfileHero {
        padding: 92px var(--container-padding) 32px;
    }

    .homepageProfileHeroCont {
        gap: 2px;
    }
    
    .homepageProfileHeroName {
        font-size: 16px;
        letter-spacing: -0.32px;
    }
    
    .homepageProfileHeroSpeech {
        font-size: 14px;
        letter-spacing: -0.28px;
    }

    .homepageFirstCommuityCreate {
        width: 100%;
        padding: 10px var(--container-padding) 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}