:root {
  --border-radius: 12px;
  --container-padding: 80px;
  --main-color: #228B22;
  --main-color-card: #1E7B1D;
  --main-color-hover: #196B18;
  --main-color-dark: #034703;
  --main-color-glow: #A5E2AB;
  --main-color-tip: #EEFAEE;
  --color-white: #FFFFFF;
  --color-white-one: #F0F3F5;
  --color-white-two: #F4F4F4;
  --color-white-three: #DFDFDF;
  --color-dark: #241F1F;
  --color-dark-one: #4D4A4A;
  --color-text: #8C8A8A;
  --color-text-input: #393535;
  --main-color-card-danger: #839194;
  --main-color-tip-danger: #DADFE2;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('GTWalsheimPro-Regular.eot');
  src: local('GT Walsheim Pro Regular'), local('GTWalsheimPro-Regular'),
      url('GTWalsheimPro-Regular.eot?#iefix') format('embedded-opentype'),
      url('GTWalsheimPro-Regular.woff2') format('woff2'),
      url('GTWalsheimPro-Regular.woff') format('woff'),
      url('GTWalsheimPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('GTWalsheimPro-Medium.eot');
  src: local('GT Walsheim Pro Medium'), local('GTWalsheimPro-Medium'),
      url('GTWalsheimPro-Medium.eot?#iefix') format('embedded-opentype'),
      url('GTWalsheimPro-Medium.woff2') format('woff2'),
      url('GTWalsheimPro-Medium.woff') format('woff'),
      url('GTWalsheimPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Nantes';
  src: url('Nantes-Regular.eot');
  src: local('Nantes Regular'), local('Nantes-Regular'),
      url('Nantes-Regular.eot?#iefix') format('embedded-opentype'),
      url('Nantes-Regular.woff2') format('woff2'),
      url('Nantes-Regular.woff') format('woff'),
      url('Nantes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nantes';
  src: url('Nantes-BoldItalic.eot');
  src: local('Nantes Bold Italic'), local('Nantes-BoldItalic'),
      url('Nantes-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('Nantes-BoldItalic.woff2') format('woff2'),
      url('Nantes-BoldItalic.woff') format('woff'),
      url('Nantes-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}


* {
  font-family: 'GT Walsheim Pro';
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  color: var(--color-dark);
  font-size: 65px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -1.3px;
}

h2 {
  color: var(--color-dark);
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -1.12px;
}

h3 {
  color: #393535;
  /* text-align: center; */
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 135%;
  letter-spacing: -0.48px;
}

p {
  color: var(--color-text);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: -0.4px;
}

.spicy-text {
  font-family: "Nantes";
  font-style: italic;
  font-weight: 700;
}

.spicy-normal-text {
  font-family: "Nantes";
  font-style: normal;
  font-weight: 400;
}

.colored-text {
  color: var(--main-color);
}

body {
  font-size: 16px;
}

.flex-c {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.header-margin-allowance {
  margin-top: 72px;
}

@media screen and  (max-width: 900px) {
  :root {
    --border-radius: 12px;
    --container-padding: 24px;
  }

  h1 {
    font-size: 2.5rem;
    letter-spacing: -0.8px;
  }
  
  h2 {
    font-size: 2.5rem;
    letter-spacing: -0.8px;
  }
  
  h3 {
    color: #393535;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
    letter-spacing: -0.48px;
  }
  
  p {
    font-size: 0.875rem;
    letter-spacing: -0.28px;
  }
}
