:root {
  --border-radius: 12px;
  --container-padding: 80px;

  /* background color */
  --background-color: #FFFFFF;

  /* text */
  --color-text-main: #777474;
  --color-text-secondary: #241F1F; /* header */
  --color-text-alternate: #8C8A8A;
  --color-text-sub: #4D4A4A;

  /* text on brand color or overlay */
  --color-on-brand: #F0F3F5;

  /* svg */
  --svg-default-color: ;
  --svg-inverse-color: ;
  --svg-alternate-color: ;
  --svg-sub-color: #4D4A4A;

  /* button */
  --main-color: #228B22;
  --main-color-card: #1E7B1D;
  --main-color-hover: #196B18;
  --main-color-dark: #034703;
  --main-color-glow: #A5E2AB;
  --main-color-light: #D1FFD9;
  --main-color-tip: #EEFAEE;
  --color-white: #FFFFFF;
  --color-white-one: #F0F3F5;
  --color-white-two: #F4F4F4;
  --color-white-three: #DFDFDF;
  --color-white-four: #FDFDFD;
  --color-white-five: #DEDEDE;
  --color-white-six: #F3F3F3;
  --color-white-seven: #EAEAEA;
  --color-dark: #241F1F;
  --color-dark-one: #4D4A4A;
  --color-dark-two: #625F5F;
  --color-text: #8C8A8A;
  --color-gray: #777474;
  --color-gray-two: #A19F9F;
  --color-gray-three: #CAC9C9;
  --color-gray-dot: #B9B9B9;
  --color-text-input: #393535;
  --main-color-card-danger: #773800;
  --main-color-tip-danger: #FFF6EE;
  --main-color-card-calm: #003581;
  --main-color-tip-calm: #EEF5FF;
}

[data-theme="dark"] {
  --border-radius: 12px;
  --container-padding: 80px;

  /* background color */
  --background-color: #020900;


  /* text */
  --color-text-main: #B4C2B7;
  --color-text-secondary: #DEF3E2; /* header */
  --color-text-alternate: #BECCC1;

  /* text on brand color or overlay */
  --color-on-brand: #F0F3F5;

  /* svg */
  --svg-default-color: ;
  --svg-inverse-color: ;
  --svg-alternate-color: ;
  --svg-sub-color: #4D4A4A;

  /*  */
  --main-color: #228B22;
  --main-color-card: #1E7B1D;
  --main-color-hover: #196B18;
  --main-color-dark: #034703;
  --main-color-glow: #A5E2AB;
  --main-color-light: #D1FFD9;
  --main-color-tip: #EEFAEE;
  --color-white: #FFFFFF;
  --color-white-one: #F0F3F5;
  --color-white-two: #F4F4F4;
  --color-white-three: #DFDFDF;
  --color-white-four: #FDFDFD;
  --color-white-five: #DEDEDE;
  --color-white-six: #F3F3F3;
  --color-white-seven: #EAEAEA;
  --color-dark: #241F1F;
  --color-dark-one: #4D4A4A;
  --color-dark-two: #625F5F;
  --color-text: #8C8A8A;
  --color-gray: #777474;
  --color-gray-two: #A19F9F;
  --color-gray-three: #CAC9C9;
  --color-gray-dot: #B9B9B9;
  --color-text-input: #393535;
  --main-color-card-danger: #773800;
  --main-color-tip-danger: #FFF6EE;
  --main-color-card-calm: #003581;
  --main-color-tip-calm: #EEF5FF;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('GTWalsheimPro-Light.ttf');
  src: local('GT Walsheim Pro Light'), local('GTWalsheimPro-Light'),
      url('GTWalsheimPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('GTWalsheimPro-Regular.ttf');
  src: local('GT Walsheim Pro Regular'), local('GTWalsheimPro-Regular'),
      url('GTWalsheimPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('GTWalsheimPro-Medium.ttf');
  src: local('GT Walsheim Pro Medium'), local('GTWalsheimPro-Medium'),
      url('GTWalsheimPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Nantes';
  src: url('Nantes-Regular.ttf');
  src: local('Nantes Regular'), local('Nantes-Regular'),
      url('Nantes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nantes';
  src: url('Nantes-BoldItalic.ttf');
  src: local('Nantes Bold Italic'), local('Nantes-BoldItalic'),
      url('Nantes-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}


* {
  font-family: 'GT Walsheim Pro';
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--color-white);
  /* background-color: var(--background-color); */
}

input, textarea {
  background-color: transparent;
}

h1 {
  color: var(--color-dark);
  font-size: 65px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -1.3px;
}

h2 {
  color: var(--color-dark);
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -1.12px;
}

h3 {
  color: #393535;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 135%;
  letter-spacing: -0.48px;
}

h4 {
  color: #393535;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.64px;
  display: flex;
  align-items: center;
  gap: 8px;
}

h5 {
  color: var(--color-text);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.32px;
  text-transform: uppercase;
}

p {
  color: var(--color-text);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: -0.4px;
}

.spicy-text {
  font-family: "Nantes";
  font-style: italic;
  font-weight: 700;
}

.spicy-normal-text {
  font-family: "Nantes";
  font-style: normal;
  font-weight: 400;
}

.colored-text {
  color: var(--main-color);
}

body {
  font-size: 16px;
}

.flex-c {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.header-margin-allowance {
  margin-top: 72px;
}

.mobile-only-show {
  display: none;
}

@media screen and  (max-width: 900px) {
  :root {
    --border-radius: 12px;
    --container-padding: 24px;
  }

  h1 {
    font-size: 2.5rem;
    letter-spacing: -0.8px;
  }
  
  h2 {
    font-size: 2.5rem;
    letter-spacing: -0.8px;
  }
  
  h3 {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
    letter-spacing: -0.48px;
  }

  h4 {
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
    letter-spacing: -0.44px;
  }

  h5 {
    font-size: 0.875rem;
    letter-spacing: -0.28px;
  }
  
  p {
    font-size: 0.875rem;
    letter-spacing: -0.28px;
  }
}

@media screen and  (max-width: 768px) {
  .desktop-only-show {
    display: none;
  }

  .mobile-only-show {
    display: flex;
  }
}
