.selectInputContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.selectInputContainer label {
    color: var(--color-text-main);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
}

.selectWrapper {
    position: relative;
    width: 100%;
}

.select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    color: var(--color-text-main);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;
    border: 1px solid var(--border-color);
    background: transparent;
    height: 45px;
    padding: 8px 32px 8px 16px;
    display: flex;
    align-items: center;
    align-self: stretch;
}

.arrow {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--color-placeholder);
  }

.select::placeholder {
    color: var(--color-placeholder);
    font-weight: 300;
}

.select:focus,
.select:focus-visible {
    outline: none;
    border-color: var(--border-color-bright);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.select option {
    padding: 10px;
    background-color: var(--background-color);
    color: var(--color-text-main);
}

/* Hover effect for options */
.select option:hover,
.select option:focus {
    background-color: var(--background-color-hover);
}

@media screen and (max-width: 768px) {
    .select {
        font-size: 0.925rem;
    }
}