.editHeaderContainer {
  background-color: var(--background-color);
  padding: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 72px;
}

.editProfileText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.editProfile > h4 {
  font-size: 24px;
}

.editProfile > p {
  font-size: 16px;
}

@media screen and (max-width: 700px) {
  .editHeaderContainer {
    padding: 24px;
  }

  .editProfile > h4 {
    font-size: 20px;
  }

  .editProfile > p {
    font-size: 14px;
  }

  .desktopOnlyShow {
    display: none;
  }
}
