.hangoutInformationWrapper {
    border: 1px solid var(--border-color);
    padding: 28px;
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.accessInfo {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.accessInfoTitle {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color-secondary);
}

@media screen and (max-width: 1200px) {
    .hangoutInformationWrapper {
        border: none;
        padding: 0;
        gap: 16px;
    }
    
    .accessInfo {
        padding: 0;
        gap: 8px;
    }
}