.groupKeydetailsPermission {
    display: flex;
    width: 80px;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.16px;
    border-radius: 1000px;
}

.privateColoring {
    color: var(--main-color-card-mild);
    background-color: var(--main-color-tip-mild);
}

.publicColoring {
    color: var(--main-color-card-calm);
    background-color: var(--main-color-tip-calm);
}

.mobileOnlyShow {
    display: none;
}

@media screen and  (max-width: 768px) {
    .groupKeydetailsPermission {
        width: 53px;
        padding: 4px 10px;
        font-size: 0.75rem;
        letter-spacing: -0.12px;
    }

    .desktopOnlyShow {
        display: none;
    }

    .mobileOnlyShow {
        display: flex;
    }
}