.headerCreategroup {
    display: flex;
    padding: 0 32px;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 60px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 102;
    top: 72px;
    background-color: var(--background-color);
    border-bottom: 1px solid var(--border-color);
}

.headerCreateheaderDesktop {
    width: 100%;
    height: 100%;
    max-width: 566px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
}

.headerCreateheaderMobile {
    display: none;
}

.headerCreateheaderDesktopTag {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-right: 2px;
}

.headerCreateheaderDesktopTag svg {
    color: var(--color-text-secondary);
}

.headerCreateheaderDesktopTag p {
    color: var(--color-text-secondary);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    letter-spacing: -0.48px;
}

.createheaderDesktopTagIscolored svg {
    color: var(--main-color);
}

.createheaderDesktopTagIscolored p {
    color: var(--main-color);
    font-weight: 500;
}

@media screen and  (max-width: 768px) {
    .headerCreategroup {
        padding: 0 24px;
        height: 48px;
    }

    .headerCreateheaderDesktop {
        display: none;
    }

    .headerCreateheaderMobile {
        display: flex;
        width: 100%;
        height: 100%;
        max-width: 504px;
        display: flex;
        padding: 12px 0;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;
    }
    
    .headerCreateheaderMobileTag {
        display: flex;
        width: 24px;
        height: 24px;
        padding: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 100px;
        background: var(--bright-color-background);
    }

    .headerCreateheaderMobileTag p {
        margin: 0;
        padding: 0;
        color: var(--color-gray);
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 500;
        line-height: 135%;
        letter-spacing: -0.42px;
    }

    .createheaderMobileTagIscolored {
        background: var(--main-color-card);
    }

    .createheaderMobileTagIscolored p {
        color: var(--color-white-two);
    }

    .createheaderMobileHorline {
        width: 100%;
        height: 1px;
        background: rgba(244, 244, 244, 0.60);
    }

    .createheaderMobileHorlineInner {
        width: 100%;
        height: 100%;
    }

    .createheaderHalfbar {
        background: linear-gradient(90deg, var(--main-color-card) 36.36%, var(--color-white-two) 63.64%);
    }

    .createheaderFullbar {
        background: var(--main-color-card);
    }
}