.container,
.cont,
.contRev {
    width: 100%;
    display: flex;
}

.column {
    flex: 1;
    box-sizing: border-box;
}

.col {
    box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
    .cont {
        flex-direction: column;
    }

    .contRev {
        flex-direction: column-reverse;
    }

    .col {
        width: 100%;
    }
}
  
@media (max-width: 500px) {
    .container {
        flex-direction: column;
    }

    .alwaysSplit {
        flex-direction: row;
    }
    
    .column {
        flex: none;
        width: 100%;
    }
    
    .alwaysSplit .column {
        flex: 1;
    }
}