.filtersContainer {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.selectWrapper select {
    border: none;
    border-radius: 1rem;
    background-color: var(--main-color-tip);
    outline: none;
}
.selectWrapper select option {
    border: none;
    outline: none;
    background-color: var(--main-color-tip);
}

.resetButton {
    background: transparent;
    border: none;
    font-weight: 500;
    font-size: 14px;
    color: var(--color-dark-two);
}