.announcementContainer {
  border: 1px solid var(--bright-color-background);
  padding: 1.5rem;
  border-radius: 4px;
  width: 36rem;
  height: auto;
}
.announcementContainer > p {
  font-weight: 500;
  font-size: 16px;
  color: var(--color-dark-two);
}
.noAnnouncementWrapper {
  border: 1px solid var(--bright-color-background);
  padding: 1rem;
  border-radius: 4px;
  padding: 1.5rem;
  height: 10rem;
  margin-top: 1rem;
  text-align: center;
}
.announcementWrapper > p {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-placeholder);
}
.speakerIcon {
  font-size: 2rem;
  margin-top: 2rem;
  color: var(--color-placeholder);
}
.announcementDetailsScroller {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 80%;
  overflow-x: auto;
  gap: 1.5rem;
}
.announcementDetails {
  border: 1px solid var(--bright-color-background);
  border-radius: 4px;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  margin-top: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}
.announcementDetailsHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.announcementTitle {
  font-weight: 500;
  font-size: 14px;
  color: var(--color-dark-two);
}
.announcementDateAndTimeContainer {
  display: flex;
  gap: 4px;
}
.announcementDateAndTimeContainer p {
  font-weight: 400;
  font-size: 12px;
  color: var(--color-placeholder);
}
.verticalLine {
  width: 1px;
  height: 1rem;
  background-color: var(--color-placeholder);
}
.announcementInfo > p {
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  color: var(--color-placeholder);
  margin-top: 0.5rem;
}
.announcmentDividerLine {
  border: 0;
  height: 1px;
  background: var(--bright-color-background);
}
.announcementFooter {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}
.announcementFooterEmoji {
  background-color: var(--border-color);
  height: 28px;
  width: 28px;
  border-radius: 50%;
  border: none;
  text-align: center;
}
.announcementFooterMainEmoji {
  margin-top: 0.3rem;
}
.announcementFooterReply {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
.announcementFooterReply p {
  font-size: 13px;
  font-weight: 500;
  color: var(--main-color-card);
}
.announcementFooterReplyIcon {
  margin-top: 0.2rem;
}
.announcementDetailsScroller::-webkit-scrollbar {
  height: 5px;
  background: #f1f1f1;
  border-radius: 10px;
}
.announcementDetailsScroller::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
.announcementDetailsScroller::-webkit-scrollbar-thumb {
  background: var(--reactive-brand-alternate);
  border-radius: 10px;
}
@media screen and (max-width: 700px) {
  .announcementContainer {
    width: 100%;
    margin-top: 2rem;
    padding: 0.7rem;
  }
  .announcementDetailsScroller {
    grid-auto-columns: 100%;
  }
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .announcementDetails {
    padding: 1rem;
    width: 95%;
  }
  .announcementContainer {
    width: 100%;
  }
  .announcementDetailsScroller {
    grid-auto-columns: 100%;
    gap: 0rem;
  }
}
