.meetingDetailsContainer {
  width: 100%;
  padding: 72px 0 90px;
  display: inline-flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  overflow: none;
}


@media screen and (max-width: 768px) {
  .meetingDetailsContainer {
    padding: 60px 0 90px;
  }
}

