.auth-container {
    padding-top: 130px;
    padding-bottom: 130px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-group-container {
    padding-top: 190px;
}

.auth-container-main {
    width: 100%;
    max-width: 504px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 16px;
    border: 1px solid #F3F6F6;
    background: var(--color-white);
    box-shadow: -4px 4px 4px 0px rgba(235, 235, 235, 0.25);
}

.auth-form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.auth-form-content-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.auth-form-content-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.auth-form-content-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.auth-form-content-center .auth-form-content-intro {
    align-items: center;
}

.auth-form-content-intro-text {
    font-size: 1rem;
}

.auth-form-content-center .auth-form-content-intro-text,
.auth-form-content-center h3 {
    text-align: center;
}

.auth-or-horizontal-line {
    display: flex;
    align-items: center;
    gap: 32px;
    align-self: stretch;
}

.horizontal-line-half {
    opacity: 0.8;
    background: var(--color-white-two);
    height: 1px;
    max-width: 180.5px;
    width: 50%;
}

.horizontal-line-text {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;
}

.auth-form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}


.auth-form-actions {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.auth-form-actions-two {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.auth-form-actions-cta {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;
    text-align: center;
}

.auth-form-actions-policy {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    letter-spacing: -0.28px;
    text-align: center;
}

.auth-form-actions-cta a {
    color: var(--main-color);
    text-decoration: none;
}

.auth-form-actions-cta a:hover {
    color: var(--main-color-hover);
}

.auth-form-success-image,
.auth-community-created-image,
.auth-create-community-image {
    width: 100%;
    max-width: 240px;
    min-height: 200px;
    background-size: cover;
    background-position: 50%;
}

.auth-form-success-image {
    background-image: url('/email_sent.png');
}

.auth-community-created-image {
    background-image: url('/community_created.png');
}
.auth-create-community-image {
    background-image: url('/create_community.png');
}

.auth-dark-link {
    text-decoration: none;
    color: #625F5F;
}

.auth-dark-link:hover {
    color: var(--color-dark);
}

.auth-form-tags {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    gap: 8px;
    align-self: stretch;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .auth-container {
        padding: 87px 24px 78px;
    }
    .create-group-container {
        padding-top: 152px;
    }

    .auth-container-main {
        padding: 32px 24px;
        border-radius: 8px;
    }
}