.group-event {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin-top: 40px;
}

.group-meeting-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.group-event {
    width: 100%;
    display: flex;
    width: 100%;
    padding: 8px 0px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
}

.group-event-title {
    padding: 0 var(--container-padding);
}

.group-event-title-text {
    color: #625F5F;
    text-align: center;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.36px;
}

.group-discussion {
    width: 100%;
    display: flex;
    padding: 8px var(--container-padding);
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    margin: 28px 0 60px;
}

.group-discussion-container {
    width: 100%;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

@media screen and  (max-width: 768px) {
    .group-event-title-text {
        font-size: 0.875rem;
        letter-spacing: -0.28px;
    }

    .group-discussion {
        padding: 16px var(--container-padding);
        gap: 16px;
        margin: 24px 0 48px;
    }
}