.groupDetailsKeydetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 8px;
    padding: 0 var(--container-padding);
}

.groupKeydetailsMajor {
    background: transparent;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 8px 8px 0px 0px;
    border-top: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    overflow: hidden;
}

.groupKeydetailsMajorImage {
    width: 60%;
    max-width: 800px;
    height: 380px;
    border-radius: 8px 8px 0px 0px;
}

.groupKeydetailsMajorText {
    display: flex;
    flex-grow: 1;
    min-height: 200px;
    padding: 20px 60px;
    align-items: center;
}

.groupKeydetailsTextInner {
    display: flex;
    flex-grow: 1;
    min-height: 200px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}

.groupKeydetailsTextGen {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.groupKeydetailsTitPub {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    width: 100%;
    max-width: 600px;
}

.groupTag {
    width: 80px;
    height: 24px;
    border-radius: 1000px;
}

.groupKeydetailsTitle {
    width: 80%;
    height: 32px;
    border-radius: 1000px;
}

.groupTagline {
    width: 90%;
    height: 20px;
    border-radius: 1000px;
}

.groupKeydetailsLocMem {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 24px;
}

.grpKeydetLocItem {
    display: flex;
    align-items: center;
    gap: 8px;
}

.grpKeydetIconRounded {
    width: 28px;
    height: 28px;
    border-radius: 1000px;
}

.locationText, .memberText {
    width: 100px;
    height: 20px;
    border-radius: 1000px;
}

.groupKeydetailsTextButtons {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.button {
    width: 120px;
    height: 40px;
    border-radius: 1000px;
}

.skeleton {
    background-color: var(--border-color);
    animation: pulse 1.5s infinite;
}

@media screen and (max-width: 1325px) {
    .groupKeydetailsMajorImage {
        width: 50%;
        max-width: 661px;
        height: 450px;
    }

    .groupKeydetailsMajorText {
        padding: 10px 40px;
    }
}

@media screen and (max-width: 1080px) {
    .groupKeydetailsMajor {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .groupKeydetailsMajorImage {
        width: 100%;
        max-width: 1800px;
        height: 450px;
    }

    .groupKeydetailsMajorText {
        padding-top: 32px;
        min-height: 135px;
    }

    .groupKeydetailsTextInner {
        min-height: 0px;
        gap: 24px;
    }
}

@media screen and (max-width: 768px) {
    .groupKeydetailsMajor {
        background: transparent;
        border-radius: 0;
        border-top: none;
        border-right: none;
        border-left: none;
    }

    .groupKeydetailsMajorImage {
        height: 200px;
    }

    .groupKeydetailsMajorText {
        width: 100%;
        padding: 32px 0;
        align-items: center;
    }

    .groupKeydetailsTextGen {
        gap: 12px;
    }

    .groupKeydetailsTitPub {
        gap: 10px;
    }

    .groupKeydetailsLocMem {
        row-gap: 6px;
        column-gap: 16px;
    }

    .grpKeydetLocItem {
        gap: 8px;
    }

    .locationText, .memberText {
        width: 80px;
        height: 16px;
    }
}

@keyframes pulse {
    0% {
        opacity: 0.6;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.6;
    }
}