.editGeneralTable {
    width: 100%;
    margin: 0;
    padding: 0;
}

.editGeneralTable thead tr {
    background-color: transparent;
    color: var(--color-text-main);
    text-align: left;
    border-bottom: 1px solid var(--border-color);
}

.editGeneralTable th {
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
}

.editGeneralTable td {
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    color: var(--color-text-main);
}

.editGeneralTable th,
.editGeneralTable td {
    padding: 16px 24px;
    font-size: 1rem;
    white-space: nowrap;
    max-height: 76px;
}

.editGeneralTableName {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 16px;
}

.editGeneralTableName span {
    color: var(--color-text-main);
    font-weight: 400;
}

.editGeneralTableName span {
    color: var(--color-text-main);
    font-weight: 400;
}

.editGeneralTableImage {
    width: 36px;
    height: 36px;
    border-radius: 1000px;
    overflow: hidden;
}

.editGeneralTableImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.editGeneralTableToolkit {
    height: 16px;
    width: 16px;
}

.editGeneralTableToolkit svg {
    height: 100%;
}

@media screen and  (max-width: 768px) {
    .editGeneralTable thead tr {
        font-size: 0.875rem;
    }

    .editGeneralTable th {
        padding: 16px 24px;
        font-size: 0.875rem;
    }

    .editGeneralTable td {
        padding: 12px 24px;
        font-size: 0.875rem;
    }
}