.groupAbout {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 40px;
    margin-bottom: 20px;
    max-width: var(--max-page-width);
    padding: 0 var(--container-padding);
}

.groupMain {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.groupMiniContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.groupAboutTitle {
    color: var(--color-text-secondary);
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
}

/* .groupOrganizersContent {
    display: flex;
    flex-direction: column;
    width: 270px;
    gap: 24px;
} */

@media screen and  (max-width: 1080px) {
    .groupAbout {
        flex-direction: column;
        gap: 28px;
    }
}

@media screen and  (max-width: 768px) {
    .groupAbout {
        margin-top: 32px;
        margin-bottom: 16px;
        padding-top: 0;
    }

    .groupMain {
        gap: 28px;
    }

    .groupAboutTitle {
        font-size: 20px;
    }
}