.navigation {
    height: 54px;
    display: flex;
    width: 100%;
    padding: 0 16px;
    align-items: center;
    overflow: hidden;
    border-radius: 0;
    border: 1px solid var(--border-color);
    background: transparent;
    border-left: none;
    border-right: none;
}

.navigationList {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 24px;
    list-style: none;
    overflow: scroll;
    padding: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.navigationList::-webkit-scrollbar {
    display: none;
}

.navigationItem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.itemText {
    width: 100px;
    height: 20px;
}

.skeleton {
    background-color: var(--border-color);
    animation: pulse 1.5s infinite;
}

@media screen and (max-width: 768px) {
    .navigation {
        height: 40px;
        padding: 0;
    }

    .navigationItem {
        padding-top: 0;
    }

    .itemText {
        width: 80px;
        height: 16px;
    }

    .navigationList li:first-child {
        margin-left: 24px;
    }
    
    .navigationList li:last-child {
        margin-right: 24px;
    }
}

@keyframes pulse {
    0% {
        opacity: 0.6;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.6;
    }
}