.backHeader {
    padding: 0 var(--container-padding);
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

@media screen and (max-width: 768px) {
    .desktopOnlyShow {
        display: none;
    }

    .backHeader {
        height: 80px;
    }
}