.hangoutContainer {
    width: 100%;
    padding: 24px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}

.hangoutDetailsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hangoutTitle {
    color: var(--color-text-secondary);
    font-weight: 500;
    font-size: 1.5rem;
}

.hangoutDetails {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media screen and (max-width: 1200px) {
    .hangoutContainer {
        padding: 0;
        flex-direction: column;
        gap: 12px;
    }

    .hangoutDetailsContainer {
        width: 100%;
        max-width: 100%;
        gap: 4px;
    }
    
    .hangoutTitle {
        font-size: 1.375rem;
    }
    
    .hangoutDetails {
        gap: 12px;
    }
}
