.basicDetailsWrapper {
    padding: 40px var(--container-padding);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.basicDetails {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.basicDetailsTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

.basicDetailsTagline {
    color: var(--color-text-main);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.36px;
}

.basicDetailsBottom {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.keyDetailItem {
    display: flex;
    align-items: center;
    gap: 8px;
}

.keyDetailIconRounded {
    display: flex;
    width: 28px;
    height: 28px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    background-color: transparent;
    color: var(--color-text-main);
    border: 1px solid var(--border-color);
}

.keyDetailItemText {
    color: var(--color-text-main);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.36px;
}

@media screen and (max-width: 768px) {
    .basicDetailsWrapper {
        flex-direction: column;
        align-items: flex-start;
        padding: 40px var(--container-padding);
        gap: 24px;
    }

    .basicDetails {
        gap: 12px;
    }

    .basicDetailsTop {
        gap: 2px;
    }

    .basicDetailsTagline {
        font-size: 0.875rem;
        letter-spacing: -0.28px;
    }

    .basicDetailsBottom {
        gap: 16px;
    }

    .keyDetailText {
        font-size: .875rem;
        letter-spacing: -0.28px;
    }
}