.custom-button {
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.social-login-button {
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: flex;
    height: 45px;
    width: 100%;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;
}

.button-nobutton-size {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;
}

.default-size {
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
    padding: 7px 28px;
    border-radius: 100px;
}

.normal-size {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.18px;
    padding: 15px 44px;
    border-radius: 100px;
}

.normal-button-size,
.default-button-size {
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.16px;
    padding: 7px 24px;
    border-radius: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.fullwidth-size {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.18px;
    padding: 15px 44px;
    border-radius: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-header-size {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    letter-spacing: -0.48px;
}

.table-button-size {
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.16px;
    padding: 7px 24px;
    border-radius: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.default-coloring {
    border: none;
    background-color: var(--main-color);
    color: var(--color-white-one);
}

.default-coloring:hover {
    border: none;
    background-color: var(--main-color-hover);
    color: var(--color-white-one);
}

.inverse-coloring {
    border: 1.2px solid var(--color-white-two);
    background-color: var(--color-white);
    color: var(--color-dark-one);
}

.inverse-coloring:hover {
    border: 1.2px solid var(--color-white-two);
    background-color: var(--color-white-two);
    color: var(--color-dark-one);
}

.google-coloring {
    border-radius: 8px;
    color: #A19F9F;
    border: 1.2px solid var(--color-white-two);
    background: #FDFDFD;
    box-shadow: 0px 4px 40px 0px rgba(137, 130, 130, 0.04);
}

.google-coloring:hover {
    border: 1.2px solid var(--color-white-three);
    box-shadow: 0px 4px 40px 0px rgba(137, 130, 130, 0.04);
    background: #FDFDFD;
}

.custom-button:disabled {
    border: none;
    background-color: var(--color-white-two);
    color: var(--color-dark-one);
    cursor:  not-allowed;
}

.form-header-coloring {
    border: 1px solid rgba(240, 243, 245, 0.80);
    background: rgba(220, 249, 220, 0.03);
    color: #625F5F;
}

.form-header-coloring:hover {
    border: 1.2px solid var(--color-white-two);
    background-color: var(--color-white-two);
    color: var(--color-dark-one);
}

.button-nobutton-coloring {
    color: var(--color-gray-two)
}

.button-nobutton-coloring:hover {
    color: var(--color-dark-one)
}

@media screen and  (max-width: 768px) {
    .button-nobutton-size {
        font-size: 0.875rem;
        letter-spacing: -0.28px;
    } 

    .default-size {
        font-size: 0.875rem;
        padding: 7px 18px;
    }

    .normal-size {
        font-size: 1rem;
        line-height: 135%;
        padding: 9px 28px;
    }

    .form-header-size {
        padding: 10px 16px;
        font-size: .875rem;
        line-height: 135%;
        letter-spacing: -0.42px;
    }

    .normal-button-size {
        font-size: 0.875rem;
        letter-spacing: -0.14px;
        padding: 7px 18px;
        border-radius: 100px;
        height: 32px;
    }

    .default-button-size {
        font-size: 1rem;
        letter-spacing: -0.16px;
        padding: 7px 24px;
        border-radius: 100px;
        height: 40px;
    }

    .table-button-size {
        padding: 12px;
        border-radius: 100px;
        height: 32px;
        width: 32px;
    }
}