.tip-container {
    width: 100%;
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    background: #EEFAEE;
}

.tip-container svg {
    width: 16px;
    height: 16px;
}

.tip-container p {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    letter-spacing: -0.42px;
}

.default-theme {
    background-color: var(--main-color-tip); 
}

.default-theme p {
    color: var(--main-color-card);
}

.default-theme .tip-svg path {
    color: var(--main-color-card);
}

.danger-theme {
    background-color: var(--main-color-tip-danger); 
}

.danger-theme p {
    color: var(--main-color-card-danger);
}

.danger-theme .tip-svg path {
    stroke: var(--main-color-card-danger);
}

@media screen and (max-width: 768px) {
    .tip-container {
        padding: 12px;
    }

    .tip-container svg {
        width: 14px;
        height: 14px;
    }

    .tip-container p {
        font-size: 0.75rem;
        letter-spacing: -0.36px;
    }
}